body {
	font-family: "Courier New";
}

h1 {
	text-transform: uppercase;
	font-size: 40px;
	overflow: visible;
	padding: 20px 0 20px 20px;
	margin: 0;
	background-color: #2396e9;
	font-family: Helvetica;
}

.hamburger {
	display: none;
	font-size: 35px;
}

h2 {
	font-size: 25px;
	color: white;
}

p {
	font-size: 15px;
	color: #666666;
}

strong {
	font-weight: bold;
	color: blue;
}

.headerArea {
	margin-right: 2%;
	margin-top: 15px;
	display: block;
	float: left;
	position: fixed;
	overflow: hidden;
}

.headerText {
	font-family: Helvetica;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px 13px 7px 20px;
	background-color: white;
	color: black;
	margin-bottom: 7px;
	display: inline-block;
	text-decoration: none;
}

.introBox {
	background-color: transparent;
}

.jykBox {
	text-transform: lowercase;
}

#container {
	width: 100%;
	margin-right: 5%;
	position: relative;
}

#intro {
	background: -webkit-linear-gradient(top, #2396e9 0%,#2396e9 73%,#b98511 100%); /* Chrome10+,Safari5.1+ */
	padding-bottom: 100px;
	padding-left: 14%;
	overflow: hidden;
}

#intro h1 {
	padding-left: 0;
}

.paper {
	width: 478px;
	height: 619px;
	text-align: left;
	background-color: #FFF0EF;
	margin: 0 auto;
	padding: 50px;
	text-align: justify;
	line-height: 17px;
	overflow: hidden;
	float: left;
	box-shadow: 5px 10px 20px #666666;
	margin-left: 14%;

}

#inspiration {
	background: -webkit-linear-gradient(top, #b98511 0%,#b98511 73%,#ed3594 100%); /* Chrome10+,Safari5.1+ */
	padding: 100px 20px;
	padding-left: 14%;
	overflow: hidden;
}

.row1 {
	overflow: hidden;
}

.credit {
	color: #7F5C0C;
	font-size: 10px;
	font-style: italic;
	display: block;
	float: right;
	padding: 7px;
	text-align: right;
	margin-top: -5px;
}

.bianca {
	margin-right: 20px;
	display: block;
	float: left;
	overflow: hidden;
}

.roberts {
	margin-right: 20px;
	overflow: hidden;
	display: inline-block;
	width: 300px;
}

.roberts img {
	float: left;
	width: 100%;
	margin: 0;
}

.mapplethorpe {
	overflow: hidden;
	display: inline-block;
	width: 200px;
	vertical-align: top;
}

.mapplethorpe img {
	float: left;
	width: 100%;
	padding-top: 75px;
}

.row2, .row3, .row4 {
	padding-bottom: 20px;
	overflow: hidden;
}

.row5 {
	overflow: hidden;
}

.time {
	overflow: hidden;
	display: inline-block;
	width: 150px;
	padding-left: 200px;
	vertical-align: top;
	margin-right: 20px;
}

.time img {
	float: left;
	width: 100%;
}

.opie {
	overflow: hidden;
	display: inline-block;
	width: 300px;
	margin-right: 20px;
}

.opie img {
	float: left;
	width: 100%;
}

.celine {
	overflow: hidden;
	display: inline-block;
	width: 200px;
	padding-left: 60px;
}

.celine img {
	float: left;
	width: 100%;
}

.charlieMay {
	overflow: hidden;
	display: inline-block;
	width: 250px;
	padding-left: 100px;
	vertical-align: bottom;
}

.charlieMay img {
	float: left;
	width: 100%;
}

.lain {
	overflow: hidden;
	display: inline-block;
	width: 330px;
	padding-left: 20px;
	vertical-align: bottom;
}

.lain img {
	float: left;
	width: 100%;
}

.loewe {
	overflow: hidden;
	display: inline-block;
	width: 500px;
	padding-left: 350px;
	vertical-align: bottom;
}

.loewe img {
	float: right: ;
	width: 100%;
}

.vfiles {
	overflow: hidden;
	display: inline-block;
	width: 560px;
	vertical-align: top;
}

.helen {
	overflow: hidden;
	display: inline-block;
	width: 250px;
	padding-left: 20px;
	vertical-align: bottom;
}

.helen img {
	float: right: ;
	width: 100%;
}

.cocktail {
	overflow: hidden;
	display: inline-block;
	width: 180px;
	padding-left: 20px;
	padding-top: 75px;
	vertical-align: top;
}

.cocktail img {
	float: right: ;
	width: 100%;
}

#music {
	background: -webkit-linear-gradient(top, #ed3594 0%,#ed3594 73%,#7F7F7F 100%); /* Chrome10+,Safari5.1+ */
	padding: 100px 0;
	padding-left: 20%;
	overflow: hidden;
}

.spotifyWidget {
	display: block;
	float: left;
	margin-right: 5%;
	width: 35%;
}

.tracklist {
	display: block;
	float: left;
	line-height: 20px;
	color: #efefef;
	width: 40%;
	margin-left: 5%;
}

.tracklist p {
	font-weight: bold;
	color: rgb(22,9,90);	
}

button {
	padding: 15px 50px;
	color: white;
	border: none;
	font-family: helvetica;
}

button a {
	text-decoration: none;
	color: inherit;
}

#music button {
	background-color: #81b71a;
}

#shop {
	background: -webkit-linear-gradient(top, #7F7F7F 0%,#7F7F7F 73%,#249c48 100%); /* Chrome10+,Safari5.1+ */
	padding: 100px 20px;
	padding-left: 14%;
	overflow: hidden;
}

.overview {
	display: block;
	float: left;
}

.item {
	display: block;
	float: left;
	margin-left: 100px;
	margin-bottom: 50px;
}

.item img 	{
	width: 200px;
	height: 200px;
}

.item p:hover {
	color: white;
	font-weight: bold;
}

.itemDescription {
	display: block;
	float: left;
	margin-left: 20px;
	width: 700px;
	height: 252px;
	margin-bottom: 50px;
}

.buyMe {
	text-transform: uppercase;
	font-size: 15px;
	background-color: #2396e9;
}

#jyk {
	background-color: #249C48;
	padding: 100px 20px 200px 0;
	padding-left: 14%;
	overflow: hidden;
}

.selfie {
	width: 300px;
	display: inline-block;
	float: left;
	overflow: hidden;
}

.selfie img {
	width: 100%;
}

.bio {
	width: 650px;
	display: inline-block;
	float: left;
	overflow: hidden;
}

ul {
	color: #efefef;
	list-style-type: none;
}

#jyk li {
	margin-bottom: 10px;
}

#jyk strong {
	color: #d3d3d3;
	font-weight: normal;
}

#jyk a {
	text-decoration: none;
	color: #efefef;
}

#jyk button {
	background-color: #CC831B;
}

@media only screen and (max-width: 1020px) {
	.headerArea {
		display: none;
		top: 0;
		left: -200px;
	}

	h1 {
		display: inline-block;
		float: left;
	}

	#intro {
		padding-left: 56px;
	}

	.paper {
		display: block;
	}

	.hamburger {
		display: inline-block;
		padding-top: 15px;
		padding-left: 2%;
	}

	.headline {
		overflow: hidden;
		background-color: #2396e9;
	}

	#inspiration {
		padding: 100px 0 100px 56px;
	}

	.bianca {
		display: block;
	}

	.roberts {
		width: 45%;
	}

	.mapplethorpe img {
		padding-top: 20px;
	}

	.mapplethorpe {
		width: 25%;
	}

	.celine {
		padding-left: 0;
	}

	.lain {
		padding-left: 150px;
	}

	.loewe {
		padding-left: 100px;
	}

	#music {
		padding: 100px 56px 100px 56px;
	}

	.spotifyWidget {
		width: auto;
	}

	.tracklist {
		width: 45%;
		font-size: 12px;
		line-height: 16px;
		margin: 0;
	}

	#shop {
		padding: 100px 56px 100px 56px;
	}

	.item {
		margin-left: 0;
		margin-right: 5%;
	}

	#jyk {
		padding: 100px 56px 100px 56px;
	}

	.selfie {
		width: 25%;
	}

	.bio {
		width: 75%;
	}
}

@media only screen and (max-width: 768px) {
	h1 {
		padding-bottom: none;
	}

	#intro {
		padding: 0 2% 20px 2%;
	}

	.paper {
		padding: 0;
		margin: 0;
		width: 100%;
		background-color: rgba(0,0,0,0.0);
		box-shadow: none;
	}

	.paper p {
		color: #efefef;
	}

	#inspiration {
		padding: 20px 2%;			
	}

	.bianca {
		width: 100%;
		margin-right: 0;
		float: none;
	}

	.opie {
		width: 100%;
	}

	.lain {
		padding-left: 30%;
		width: 70%;
	}

	.charlieMay {
		padding-left: 30px;
	}

	.loewe {
		padding: 0;
		width: 100%;
	}

	.cocktail {
		padding-top: 20px;
	}

	#music {
		padding: 20px 2%;	
	}

	.spotifyWidget {
		float: none;
		margin: 0 auto;
	}

	.spotifyWidget iframe {
		width: 100%;
	}
	
	.tracklist {
		float: none;
		font-size: 15px;
		line-height: 17px;
		width: 100%;
	}

	.openSpotify {
		width: 100%;
	}

	#shop {
		padding: 50px 2%;	
	}

	.overview {
		margin: 0;
		display: inline-block;
		float: none;
		width: 30%;
		margin-right: 2%;
	}

	.overview:nth-child(3) {
		margin-right: 0;
	}

	.item {
		width: 100%;
		margin-right: 0;
	}

	.itemDescription {
		width: 100%;
	}

	.item img {
		width: 100%;
		height: 100%;
	}

	#jyk {
		padding: 20px 2%;			
	}

	.selfie {
		width: 100%;
	}

	.bio {
		width: 100%;
	}

	ul {
		padding: 0;
	}

	button {
		width: 100%;
	}
}
















