body {
	font-family: "Roboto";
	background-color: #ecf0f1;
}

.container {
	padding: 20px 5%;
}

#header {
	background-color: #efefef;
	box-shadow: 0px 5px 15px #888888;
	position: fixed;
	width: 100%;
	height: 70px;
	overflow: hidden;
}

#hamburger img {
	width: 45px;
	display: block;
	float: left;
	vertical-align: center;
	padding-right: 20px;
	padding-top: 5px;
}

.logo {
	font-size: 30px;
	display: block;
	float: left;
	vertical-align: center;
	color: #2c3e50;
}

.search {
	width: 300px;
	height: 25px;
	background-color: white;
	float: right;
	padding: 3px 7px;
	font-weight: thin;
	font-size: 15px;
}

#profile {
	width: 20%;
	margin: 130px 2% 0 5%;
	display: block;
	float: left;
}

#profile img {
	width: 100%;
	display: inline-block;
	float: left;
	margin-bottom: 10px;
}

#otherImages {
	overflow: hidden;
}

#otherImages img {
	width: 45%;
	height: 90px;
	padding-right: 10%;
}

#otherImages img:nth-child(2) {
	padding-right: 0;
}

h1 {
	font-size: 30px;
	margin: 0 auto;
}

h2 {
	font-size: 15px;
	font-weight: lighter;
	color: #666666;
	margin: 10px auto;
	margin-bottom: 20px;
}

.box {
	text-align: left;
	font-size: 15px;
	background-color: #d3d3d3;
	margin: 10px 0px;
	padding: 20px;
	color: #3f3f3f;
}

.box:hover {
	background-color: black;
	color: white;
}

#activity_feed {
	display: block;
	float: left;
	width: 68%;
	overflow: auto;
	margin: 120px 5% 0 0;
}

.poster {
	display: block;
	float: left;
	width: 10%;
	margin-right: 2%;
}

.poster img {
	width: 100%;
	border-radius: 50%;
}

.message_text {
	width: 100%;
	font-size: 15px;
	margin: 5px 0;
	float: left;
	display: inline-block;
	overflow: hidden;
}

.message {
	border: 2px solid #cccccc;
	border-radius: 20px;
	width: 76%;
	display: block;
	float: left;
	padding: 4%;
	overflow: hidden;
}

.message img {
	width: 100%;
}

.message_date {
	font-weight: bold;
	margin: 0 0 15px 0;
	color: #a8a8a8;
}

.sad_face_emoji {
	height: 70.62px;
	width: 70.62px;
	background: url(../images/emoji_sprite.png) -280px -1725px;
}

.heart_emoji {
	height: 70.62px;
	width: 70.62px;
	background: url(../images/emoji_sprite.png) -620px -967px;	
}

.glitter_emoji {
	height: 70.62px;
	width: 70.62px;
	background: url(../images/emoji_sprite.png) -70.62px 0px;
}

.emoji {
	display: inline-block;
	zoom : 0.25;
}

.like h3 {
	color: blue;
	font-size: 15px;
	margin: 70px 0 0 0;
	clear: both;
}

.like h3:hover {
	text-decoration: underline;
}

.post {
	overflow: hidden;
	margin-bottom: 40px;
}

#footer {
	clear: both;
	background-color: #666666;
	width: 100%;
	overflow: hidden;
}

#footer a {
	color: #ffffff;
	text-decoration: none;
	display: block;
	margin: 10px 0;
}

#footer a:hover {
	color: lightblue;
}

.about {
	display: inline-block;
	float: left;
}






